body {
    background-image: url("image.png");
}
.title {
    font-family: 'Archivo Black', sans-serif;
}

.box {
    box-shadow: rgba(46, 91, 240, 0.4) -5px 5px, rgba(46, 75, 240, 0.3) -10px 10px, rgba(59, 46, 240, 0.2) -15px 15px, rgba(82, 46, 240, 0.1) -20px 20px, rgba(88, 46, 240, 0.05) -25px 25px;
}

.body-title {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
